<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav__menu">
                <li><a href={% url 'main' %}>Главная</a></li>
                {% if user.is_authenticated %}
                <form action={% url 'logout' %} method="post">
                    {% csrf_token %}
                    <li><input type="submit" value="Выйти"</li>
                </form>
                {% else %}
                <form action={% url 'login' %} method="post">
                    {% csrf_token %}
                    <li><input type="submit" value="Войти"></li>
                </form>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block main %}

    {% endblock main %}
</body>

</html>