{% extends 'base.html' %}
{% load volumes %}

{% block title %}
Главная
{% endblock %}

{% block main %}
<h1 class="title">Сделайте свой заказ!</h1>
<h2 class="sub_title">Кофе</h2>

<div class="products">
  {% if coffies %}
    {% for coffee in cof_page %}
        <div class="product">
            <h3>{{ coffee.name }}</h3>   
            <p>{{ coffee.cost }}₽</p>
            {% if user.is_authenticated %}
                {% if coffee not in current_order.order_coffee or not current_order.order_coffee %}
                    <form action={% url 'add_order_coffee' coffee.name %} method="post">
                        {% with volumes=cof_vols|get_value_from_dict:coffee.name %}
                            <select name="coffee_volume" id="coffee-volumes">
                            {% for volume in volumes %}
                                <option value={{ volume }}>{{ volume }}мл</option>
                            {% endfor %}
                            </select>
                        {% endwith %}
                        {% csrf_token %}
                        <input class="buy_button" type="submit" value="Добавить в заказ" />
                    </form>
                {% else %}
                    <form action={% url 'del_order_coffee' coffee.name %} method="post">
                        {% csrf_token %}
                        <input class="del_button" type="submit" value="Удалить из заказа" />
                    </form>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
  
  {% else %}
  <h3>Кофе не найдено</h3>
  {% endif %}
</div>

{% include "pagination.html" with pag_page=cof_page %}

<h2 class="sub_title">Выпечка</h2>
<div class="products">

  {% if foods %}
  {% for food in fd_page %}
  <div class="product">
    <h3>{{ food.name }}</h3>
    <p>{{ food.cost }}₽</p>
    {% if user.is_authenticated %}
    {% if current_order.food != food %}
    <form action={% url 'add_order_food' food.pk %} method="post">
      {% csrf_token %}
      <input class="buy_button" type="submit" value="Добавить в заказ" />
    </form>
    {% else %}
    <form action={% url 'del_order_food' food.pk %} method="post">
      {% csrf_token %}
      <input class="del_button" type="submit" value="Удалить из заказа" />
    </form>
    {% endif %}
    {% endif %}
  </div>
  {% endfor %}
  {% else %}
  <h3>Выпечки не найдно</h3>
  {% endif %}
</div>

{% include "pagination.html" with pag_page=fd_page %}
{% endblock %}
